name: Autobuild

on:
  push:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  autobuild:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Rust Cache
      uses: Swatinem/rust-cache@v2

    - name: Run Autobuild Script
      run: bash scripts/autobuild.sh
